$primary-font-size: 15px;
$font-family: (alata: 'Alata', josefin: 'Josefin Sans');
$font-weight: (alata: 400, josefin: 300);
$images: (deep-earth: 'deep-earth', night-arcade: 'night-arcade', soccer-team-vr: 'soccer-team', the-grid: 'grid', from-up-above-vr: 'from-above', pocket-borealis: 'pocket-borealis', the-curiosity: 'curiosity', make-it-fisheye: 'fisheye');